.container{ 
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(0,0,0,0.2);
}

.row {
    display: flex;
    justify-content: space-between;
}

hr{
    border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:black;
  height: 1px;
}
.checkout {
    background-color: #747bff;
    color: white;
    margin-top: 10px;
}