.editItemCount {
  display: flex;
  gap: 20px;

  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 300px;
  align-items: flex-start;
}

.productInformation {
  display: flex;
  flex-wrap: wrap;
  
}

.productName {
  text-align: left;
  
}

p {
  margin: 10px;
}

.topCard > img {
  width: 230px;
  height:150px
}

